name: Release assets

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build-static:
    name: Build static binaries
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - arch: amd64
            platform: linux/amd64
          - arch: arm64
            platform: linux/arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build static binary container
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile.staticbuild
          platforms: ${{ matrix.platform }}
          load: true
          tags: tracy:static

      - name: Extract binary
        run: |
          docker create --name extract --platform ${{ matrix.platform }} tracy:static
          docker cp extract:/opt/tracy/bin/tracy ./tracy-${{ github.event.release.tag_name }}-linux-${{ matrix.arch }}
          docker rm -v extract

      - name: Upload binary
        uses: actions/upload-artifact@v3
        with:
          name: tracy-${{ matrix.arch }}
          path: ./tracy-${{ github.event.release.tag_name }}-linux-${{ matrix.arch }}

  build-sif:
    name: Build SIF
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Singularity
        uses: eWaterCycle/setup-singularity@master
        with:
          singularity-version: 3.8.7

      - name: Build Singularity image
        run: |
          singularity build --fakeroot tracy-${{ github.event.release.tag_name }}.sif singularity/tracy.def

      - name: Upload SIF
        uses: actions/upload-artifact@v3
        with:
          name: tracy-sif
          path: ./tracy-${{ github.event.release.tag_name }}.sif

  upload-release-assets:
    name: Upload release assets
    runs-on: ubuntu-latest
    needs: [build-static, build-sif]
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v3
        with:
          path: artifacts

      - name: Upload to GitHub release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            artifacts/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: geargenomics/tracy

      - name: Build and push Docker image
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
